/*----------------
    RESET
-----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------
    CONTAINERS
-----------------*/
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-xs-"] {
    flex: 0 0 auto;
}

/*----------------
    COLUMNS
-----------------*/
/* LARGE */
@media screen and (min-width: 1241px) {
    
    .col-l-1 {
        flex-basis: calc(100% / 12 * 1);
        max-width: calc(100% / 12 * 1);
    }
    .col-l-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }
    .col-l-3 {
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    .col-l-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    .col-l-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    .col-l-6 {
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }
    .col-l-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }
    .col-l-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }
    .col-l-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }
    .col-l-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }
    .col-l-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }
    .col-l-12 {
        flex-basis: calc(100% / 12 * 12);
        max-width: calc(100% / 12 * 12);
    }
    
    }

/* MEDIUM */
@media screen and (max-width: 1240px) {
    
.col-m-1 {
    flex-basis: calc(100% / 12 * 1);
    max-width: calc(100% / 12 * 1);
}
.col-m-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}
.col-m-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}
.col-m-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}
.col-m-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}
.col-m-6 {
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}
.col-m-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}
.col-m-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}
.col-m-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}
.col-m-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}
.col-m-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}
.col-m-12 {
    flex-basis: calc(100% / 12 * 12);
    max-width: calc(100% / 12 * 12);
}

}

/* SMALL */
@media screen and (max-width: 800px) {
    
    .col-s-1 {
        flex-basis: calc(100% / 12 * 1);
        max-width: calc(100% / 12 * 1);
    }
    .col-s-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }
    .col-s-3 {
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    .col-s-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    .col-s-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    .col-s-6 {
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }
    .col-s-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }
    .col-s-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }
    .col-s-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }
    .col-s-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }
    .col-s-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }
    .col-s-12 {
        flex-basis: calc(100% / 12 * 12);
        max-width: calc(100% / 12 * 12);
    }
    
    }

/*----------------
    OFFSET
-----------------*/
/* LARGE */
@media screen and (min-width: 1241px) {

    .offset-l-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .offset-l-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .offset-l-3 {
        margin-left: calc(100% / 12 * 3);
    }
    .offset-l-4 {
        margin-left: calc(100% / 12 * 4);
    }
    .offset-l-5 {
        margin-left: calc(100% / 12 * 5);
    }
    .offset-l-6 {
        margin-left: calc(100% / 12 * 6);
    }
    .offset-l-7 {
        margin-left: calc(100% / 12 * 7);
    }
    .offset-l-8 {
        margin-left: calc(100% / 12 * 8);
    }
    .offset-l-9 {
        margin-left: calc(100% / 12 * 9);
    }
    .offset-l-10 {
        margin-left: calc(100% / 12 * 10);
    }
    .offset-l-11 {
        margin-left: calc(100% / 12 * 11);
    }
    
    }
    

/* MEDIUM */
@media screen and (max-width: 1240px) {

.offset-m-1 {
    margin-left: calc(100% / 12 * 1);
}
.offset-m-2 {
    margin-left: calc(100% / 12 * 2);
}
.offset-m-3 {
    margin-left: calc(100% / 12 * 3);
}
.offset-m-4 {
    margin-left: calc(100% / 12 * 4);
}
.offset-m-5 {
    margin-left: calc(100% / 12 * 5);
}
.offset-m-6 {
    margin-left: calc(100% / 12 * 6);
}
.offset-m-7 {
    margin-left: calc(100% / 12 * 7);
}
.offset-m-8 {
    margin-left: calc(100% / 12 * 8);
}
.offset-m-9 {
    margin-left: calc(100% / 12 * 9);
}
.offset-m-10 {
    margin-left: calc(100% / 12 * 10);
}
.offset-m-11 {
    margin-left: calc(100% / 12 * 11);
}

}

/* SMALL */
@media screen and (max-width: 800px) {

    .offset-s-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .offset-s-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .offset-s-3 {
        margin-left: calc(100% / 12 * 3);
    }
    .offset-s-4 {
        margin-left: calc(100% / 12 * 4);
    }
    .offset-s-5 {
        margin-left: calc(100% / 12 * 5);
    }
    .offset-s-6 {
        margin-left: calc(100% / 12 * 6);
    }
    .offset-s-7 {
        margin-left: calc(100% / 12 * 7);
    }
    .offset-s-8 {
        margin-left: calc(100% / 12 * 8);
    }
    .offset-s-9 {
        margin-left: calc(100% / 12 * 9);
    }
    .offset-s-10 {
        margin-left: calc(100% / 12 * 10);
    }
    .offset-s-11 {
        margin-left: calc(100% / 12 * 11);
    }
    
    }
    