/*----------------
    DEBUG
-----------------*/
[class*=col-] {
    min-height: 100px;
    /* background-color: lightskyblue; */
    /* border: 1px solid black; */
}

/*----------------
    TYPOGRAPHY
-----------------*/
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.product-box h4 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
}

.brand-name {
    color: grey;
    font-weight: 300;
    font-size: 0.8em;
}

/*----------------
    BUTTONS
-----------------*/
button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.header-icon {
    font-size: 2em;
}

/*----------------
    HEADER
-----------------*/
header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0)
}

header [class*=col-]{
    padding: 40px 0;
    
}

header .col-1 {
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    justify-content: center;
}

.logo-box img {
    max-width: 220px;
}

.hero {
    min-height: 500px;
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
}

/*----------------
    MAIN
-----------------*/
/* PRODUCT GRID */
.product-grid {
    margin: 80px 0;
}

.product-box {
    width: 90%;
    margin: auto;
}

.product-box img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.product-text-box {
    text-align: center;
    line-height: 1.4em;
}

.product-grid .row {
    margin: 20px 0;
}